.container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
@media (min-width: 650px){
    .login {
        margin: auto;
        width: 50%;
    }
}
.main {
    margin-top: 100px;
}
.spinner {
    max-width: 28% !important;
    text-align: center;
}
.list-of-members {
    margin-top: 38px;
}
.chart {
    width: 85%;
    height: 200px;
}
